
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="blog-text">
    <p><strong>内容</strong>：<%= @picture.content %></p>
  </div>

  <p>コメント一覧（ここから下の内容が重要）</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, picture: @picture } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, picture: @picture } %>

  <%= link_to '戻る', pictures_path %>
</div>
