<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= evil_icons_sprite %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <% if logged_in? %>
          <ul>
            <li ><%= link_to "投稿", new_picture_path%></li>
            <li><%= link_to "一覧",pictures_path%></li>
            <li><%= link_to "ユーザープロ",user_path(current_user.id)%></li>
            <li><%= link_to  "ログアウト",session_path(current_user.id), method: :delete%></li>
          </ul>
        <% end %>
        </nav>
      </header>
    <%= yield %>
    <footer>
      <p>2018.10 photo_app</p>
    </footer>
  </body>
</html>
